
<template>
<div class="container">
  <form class="upload-form">
    <div class="form-group">
      <label for="fileInput">Upload a receipt:</label>
      <input type="file" id="fileInput" ref="fileInput" name="UploadFile" class="form-control-file"  @change="uploadImage"  accept="image/png, image/jpeg" />
    </div>
    <!-- <button type="submit" @click.prevent="submitImage"  class="btn btn-primary">Upload</button> -->
  </form>

  <h1>{{ message }}</h1>
  <h1 class="red" v-if="maybefound_osm">Probably the places is already in OSM! </h1>

  <div class="card mt-3">
    <div class="card-body">
      <h4 class="card-title" v-if="found_osm">Top 6 Similar Locations</h4>
      <h4 class="card-title" v-if="!found_osm && result_loaded">No similar locations found</h4>

      <div class="card-text">
        <ul>
          <li v-for="item in top3_libpostal_nominatium" :key="item.name">
            {{item.name}} ( coordinates: {{item.lat}}, {{item.lon}}  - score: {{item.score}})
          </li>
          <li v-for="item in top3_spacy_nominatium" :key="item.name">
            {{item.name}} ( coordinates: {{item.lat}}, {{item.lon}} - score: {{item.score}})
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card mt-3" v-if="result_loaded">
    <div class="card-body">
    <h4 class="card-title">Parsed data to copy</h4>
      <div class="card-text" >
        <template v-if="house">
    <p><strong>House:</strong> <span ref="house">{{ house }}</span> <button type="button" @click="doCopy('house')" class="copyBt">Copy!</button>  </p>
</template>
<template v-if="house_number">
    <p><strong>House Number:</strong> <span ref="house_number">{{ house_number }}</span> <button type="button" @click="doCopy('house_number')" class="copyBt">Copy!</button> </p>
</template>
<template v-if="road">
    <p><strong>Road:</strong> <span ref="road">{{ road }}</span> <button type="button" @click="doCopy('road')" class="copyBt">Copy!</button> </p>
</template>
<template v-if="city">
    <p><strong>City:</strong> <span ref="city">{{ city }}</span> <button type="button" @click="doCopy('city')" class="copyBt">Copy!</button> </p>
</template>
<template v-if="state_district">
    <p><strong>State District:</strong> <span ref="state_district">{{ state_district }}</span> <button type="button" @click="doCopy('state_district')" class="copyBt">Copy!</button> </p>
</template>
<template v-if="postcode">
    <p><strong>Postcode:</strong> <span ref="postcode">{{ postcode }}</span> <button type="button" @click="doCopy('postcode')" class="copyBt">Copy!</button> </p>
</template>
<template v-if="phone">
    <p><strong>Phone:</strong> <span ref="phone">{{ phone }}</span> <button type="button" @click="doCopy('phone')" class="copyBt">Copy!</button> </p>
</template>
<template v-if="latitude">
    <p><strong>Latitude:</strong> <span ref="latitude">{{ latitude }}</span> <button type="button" @click="doCopy('latitude')" class="copyBt">Copy!</button> </p>
</template>
<template v-if="longitude">
    <p><strong>Longitude:</strong> <span ref="longitude">{{ longitude }}</span> <button type="button" @click="doCopy('longitude')" class="copyBt">Copy!</button> </p>
</template>

        <!-- <p><strong>House:</strong> <span ref="house">{{ house }}</span> <button type="button" @click="doCopy('house')" class="copyBt" v-if="house">Copy!</button>  </p>
<p><strong>House Number:</strong> <span ref="house_number">{{ house_number }}</span> <button type="button" @click="doCopy('house_number')" class="copyBt">Copy!</button> </p>
<p><strong>Road:</strong> <span ref="road">{{ road }}</span> <button type="button" @click="doCopy('road')" class="copyBt">Copy!</button> </p>
<p><strong>City:</strong> <span ref="city">{{ city }}</span> <button type="button" @click="doCopy('city')" class="copyBt">Copy!</button> </p>
<p><strong>State District:</strong> <span ref="state_district">{{ state_district }}</span> <button type="button" @click="doCopy('state_district')" class="copyBt">Copy!</button> </p>
<p><strong>Postcode:</strong> <span ref="postcode">{{ postcode }}</span> <button type="button" @click="doCopy('postcode')" class="copyBt">Copy!</button> </p>
<p><strong>Phone:</strong> <span ref="phone">{{ phone }}</span> <button type="button" @click="doCopy('phone')" class="copyBt">Copy!</button> </p>
<p><strong>Latitude:</strong> <span ref="latitude">{{ latitude }}</span> <button type="button" @click="doCopy('latitude')" class="copyBt">Copy!</button> </p>
<p><strong>Longitude:</strong> <span ref="longitude">{{ longitude }}</span> <button type="button" @click="doCopy('longitude')" class="copyBt">Copy!</button> </p> -->
      </div>
    </div>
  </div>

</div>
  </template>
  <style scoped>
body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 1rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.5rem;
}

.card-text p {
  margin-bottom: 0.5rem;
}

.red {
  color:red;
}

.card-text ul {
  list-style: none;
  padding-left: 0;
}

.card-text li {
  margin-bottom: 0.5rem;
}
button.copyBt {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.copyBt:hover {
  background-color: #444;
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 0px var(--vt-c-divider-light-1);
}

.upload-form input[type="file"] {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--vt-c-white);
  box-shadow: 0px 0px 5px 0px var(--vt-c-divider-light-2);
  font-size: 1.2rem;
  color: var(--vt-c-text-light-1);
}

.upload-form input[type="file"]:focus {
  outline: none;
  box-shadow: 0px 0px 5px 0px var(--vt-c-indigo);
}

.upload-form button[type="submit"] {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--vt-c-indigo);
  color: var(--vt-c-white);
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
}

.upload-form button[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--vt-c-black);
}

  </style>
  <script>
    import * as Vue from 'vue' // in Vue 3
    import { ref } from 'vue'
    import { copyText } from 'vue3-clipboard'

    import axios from 'axios'
    import VueAxios from 'vue-axios'
    export default {
      data() {
        return {
            result_loaded: false,
            message: ref('Upload your receipt...'),
            address: ref({}),
            house: ref(''),
            house_number: ref(''),
            road: ref(''),
            city: ref(''),
            state_district: ref(''),
            postcode: ref(''),
            phone: ref(''),
            top3_libpostal_nominatium: ref([]),
            top3_spacy_nominatium: ref([]),
            latitude: ref(0),
            longitude: ref(0),
            found_osm: false,
            maybefound_osm : false
        }
    },        methods: {
         doCopy (elementName) {
          var getElement = this.$refs[elementName];
        copyText(getElement.innerText, undefined, (error, event) => {
          if (error) {
            alert('Can not copy')
            console.log(error)
          } else {
            alert('Copied')
            console.log(event)
          }
        })
      }
 
,        uploadImage() {
            // Get the file from the input
            let file = this.$refs.fileInput.files[0]
            this.result_loaded = false;
            this.message = "Uploading and processing, please wait..."
            // Create a new FormData object
            let formData = new FormData()
    
            // Add the file to the FormData object
            formData.append('file', file)
    
            // Send the FormData object to the server using axios
            axios.post('http://coffeosm.tameni.it:8000/upload_image', formData).then(response => {
              console.log(response.data)
              //coffe_detail = response.data
              //moc a coffee_detail with name, address, city, coords, phone, website, hours
              
              console.log(response.data)
              this.message = response.data.message

              //reset all the data
              this.house = ''
              this.house_number = ''
              this.road = ''
              this.city = ''
              this.state_district = ''
              this.postcode = ''
              this.phone = ''
              this.top3_libpostal_nominatium = []
              this.top3_spacy_nominatium = []
              this.latitude = 0
              this.longitude = 0
              this.found_osm = false
              this.maybefound_osm = false;

              //example of response.data
               // {"message":"Image received, processed and data extracted","data":{"name":"TN","address":[["u taverna s.n.c. di pedrotti r. & c.","house"],["localita' al lago","road"],["3","house_number"],["36056","postcode"],["levico terme","city"],["tn","state_district"],["reg. imp.tn/c.f./p. iva","road"],["00480010222","house_number"],["tavolo e 205 documento commerciale di vendita o prestazione descrizione iva prezzo € 2x 2,50 cappuccino 10 00% 5,00 4x 1 brioches 10,00% 4,80 totale complessivo 9,40 di cui pagamento contante 9,80 importo pagato 9,80 18-09-2022 10 57 documento n.","house"],["0585-0005","house_number"],["rt ssmex069644","road"],["dettaglio forme di _pagamento","house"],["contant 5 \" = =~ numero confeziont? a numero cassa","road"],["2","house_number"]],"phone":null,"coordinates":[46.0150995,null],"top3_libpostal_nominatium":[{"name":"La Taverna","lat":46.0150478,"lon":11.2865162},{"name":"Fabbrica di Pedavena","lat":46.008438,"lon":11.291992},{"name":"Bar Al piccolo parco","lat":46.0107281,"lon":11.2914254}],"top3_spacy_nominatium":[{"name":"Pizzeria Ristorante Millennium","lat":46.0166373,"lon":11.2947388},{"name":"La Cantina","lat":46.0081373,"lon":11.2908003},{"name":"La Taverna","lat":46.0150478,"lon":11.2865162}]}}%
              
              // set house to the first house element of data.address
              for(var i = 0; i < response.data.data.address.length; i++) {
                if(response.data.data.address[i][1] == 'house' && this.house == '') {
                  this.house = response.data.data.address[i][0]
                }
                if(response.data.data.address[i][1] == 'house_number' && this.house == '') {
                  this.house_number = response.data.data.address[i][0]
                }
                if(response.data.data.address[i][1] == 'road' && this.road == '') {
                  this.road = response.data.data.address[i][0]
                }
                if(response.data.data.address[i][1] == 'city' && this.city == '') {
                  this.city = response.data.data.address[i][0]
                }
                if(response.data.data.address[i][1] == 'state_district' && this.state_district == '') {
                  this.state_district = response.data.data.address[i][0]
                }
                if(response.data.data.address[i][1] == 'postcode'   && this.postcode == '' ) {
                  this.postcode = response.data.data.address[i][0]
                }
                if(response.data.data.phone != null && this.phone == '') {
                  this.phone = response.data.data.phone
                }


              }

              this.latitude = response.data.data.coordinates[0]
              this.longitude = response.data.data.coordinates[1]

              this.top3_libpostal_nominatium = response.data.data.top3_libpostal_nominatium
              this.top3_spacy_nominatium = response.data.data.top3_spacy_nominatium

              if(this.top3_libpostal_nominatium.length > 0 || this.top3_spacy_nominatium.length > 0) {
                this.found_osm = true;
              }

              //check if in the top3_libpostal_nominatium or top3_spacy_nominatium there is an element with more than 70% of similarity
              //if yes, set this.maybefound_osm to true
              //if no, set this.maybefound_osm to false
              this.maybefound_osm = false;
              for(var i = 0; i < this.top3_libpostal_nominatium.length; i++) {
                if(this.top3_libpostal_nominatium[i].score >= 70 ) {
                  this.maybefound_osm = true;
                  console.log('found_osm')
                }
              }

              for(var i = 0; i < this.top3_spacy_nominatium.length; i++) {
                if(this.top3_spacy_nominatium[i].score >= 70 ) {
                  this.maybefound_osm = true;
                  console.log('found_osm')
                }
              }



              this.result_loaded = true;
             //this.$router.push({name: 'review', params: {coffee_detail: coffe_detail_moc}})
            }).catch(error => {
                //print errors and redirect to review page
                this.message = "Ops, something went wrong. Please try again."
                console.log(error)
               // this.$router.push({name: 'r eview'})

            })
        },
        submitImage() {
            // Trigger the file input button to open the file dialog
            this.$refs.fileInput.click()
        }
        }
    }
  </script>
  
