
<template>
    <div>
      <form>
        <input type="file" ref="fileInput" name="UploadFile" @change="uploadImage"/>
        <button type="submit" @click.prevent="submitImage">Upload</button>
      </form>
      <h1>{{ message }}</h1>
      <h2>House: {{ house }}</h2>
      <h2>House Number: {{ house_number }}</h2>
      <h2>Road: {{ road }}</h2>
      <h2>City: {{ city }}</h2>
      <h2>State District: {{ state_district }}</h2>
      <h2>Postcode: {{ postcode }}</h2>
      <h2>Phone: {{ phone }}</h2>
      <h2>Lat: {{ lat }}</h2>
      <h2>Lng: {{ lon }}</h2>

    </div>
  </template>
  
  <script>
    import * as Vue from 'vue' // in Vue 3
    import { ref } from 'vue'

    import axios from 'axios'
    import VueAxios from 'vue-axios'
    export default {
      data.data() {
        return {
            message: ref('Hello World!'),
            address: ref({}),
            house: ref(''),
            house_number: ref(''),
            road: ref(''),
            city: ref(''),
            state_district: ref(''),
            postcode: ref(''),
            phone: ref(''),
            top3_libpostal_nominatium: ref([]),
            top3_spacy_nominatium: ref([]),
            lat: ref(0),
            lng: ref(0),

        }
    },        methods: {
        uploadImage() {
            // Get the file from the input
            let file = this.$refs.fileInput.files[0]
    
            // Create a new Formdata.data object
            let formdata.data = new Formdata.data()
    
            // Add the file to the Formdata.data object
            formdata.data.append('file', file)
    
            // Send the Formdata.data object to the server using axios
            axios.post('http://localhost:8000/upload_image', formdata.data).then(response => {
              console.log(response.data.data)
              //coffe_detail = response.data.data
              //moc a coffee_detail with name, address, city, coords, phone, website, hours
              // compile it with fake data.data for test
              var coffe_detail_moc = {
                name: 'Starbucks',
                address: '123 Main St',
                city: 'San Francisco',
                coords: {
                  lat: 37.7749,
                  lng: -122.4194
                },
                phone: '415-555-5555',
                website: 'https://www.starbucks.com/',
                hours: {
                  monday: '6:00am - 8:00pm',
                  tuesday: '6:00am - 8:00pm',
                  wednesday: '6:00am - 8:00pm',
                  thursday: '6:00am - 8:00pm',
                  friday: '6:00am - 8:00pm',
                  saturday: '6:00am - 8:00pm',
                  sunday: '6:00am - 8:00pm'
                }
              }
              console.log(response.data.data)
              this.message = response.data.data.message

              //example of response.data.data
               // {"message":"Image received, processed and data.data extracted","data.data":{"name":"TN","address":[["u taverna s.n.c. di pedrotti r. & c.","house"],["localita' al lago","road"],["3","house_number"],["36056","postcode"],["levico terme","city"],["tn","state_district"],["reg. imp.tn/c.f./p. iva","road"],["00480010222","house_number"],["tavolo e 205 documento commerciale di vendita o prestazione descrizione iva prezzo € 2x 2,50 cappuccino 10 00% 5,00 4x 1 brioches 10,00% 4,80 totale complessivo 9,40 di cui pagamento contante 9,80 importo pagato 9,80 18-09-2022 10 57 documento n.","house"],["0585-0005","house_number"],["rt ssmex069644","road"],["dettaglio forme di _pagamento","house"],["contant 5 \" = =~ numero confeziont? a numero cassa","road"],["2","house_number"]],"phone":null,"coordinates":[46.0150995,null],"top3_libpostal_nominatium":[{"name":"La Taverna","lat":46.0150478,"lon":11.2865162},{"name":"Fabbrica di Pedavena","lat":46.008438,"lon":11.291992},{"name":"Bar Al piccolo parco","lat":46.0107281,"lon":11.2914254}],"top3_spacy_nominatium":[{"name":"Pizzeria Ristorante Millennium","lat":46.0166373,"lon":11.2947388},{"name":"La Cantina","lat":46.0081373,"lon":11.2908003},{"name":"La Taverna","lat":46.0150478,"lon":11.2865162}]}}%
              
              // set house to the first house element of data.data.address
              for(var i = 0; i < response.data.data.data.data.data.data.address.length; i++) {
                if(response.data.data.data.data.address[i][1] == 'house' && this.house == '') {
                  this.house = response.data.data.data.data.address[i][0]
                }
                if(response.data.data.data.data.data.data.address[i][1] == 'house_number' && this.house == '') {
                  this.house_number = response.data.data.data.data.address[i][0]
                }
                if(response.data.data.data.data.address[i][1] == 'road' && this.road == '') {
                  this.road = response.data.data.data.data.address[i][0]
                }
                if(response.data.data.data.data.address[i][1] == 'city' && this.city == '') {
                  this.city = response.data.data.data.data.address[i][0]
                }
                if(response.data.data.data.data.address[i][1] == 'state_district' && this.state_district == '') {
                  this.state_district = response.data.data.data.data.address[i][0]
                }
                if(response.data.data.data.data.address[i][1] == 'postcode'   && this.postcode == '' ) {
                  this.postcode = response.data.data.data.data.address[i][0]
                }
                if(response.data.data.data.data.phone != null && this.phone == '') {
                  this.phone = response.data.data.data.data.phone
                }


              }

              lat = response.data.data.data.data.lat
              lng = response.data.data.data.data.lon

             //this.$router.push({name: 'review', params: {coffee_detail: coffe_detail_moc}})
            }).catch(error => {
                //print errors and redirect to review page

                console.log(error)
               // this.$router.push({name: 'r eview'})

            })
        },
        submitImage() {
            // Trigger the file input button to open the file dialog
            this.$refs.fileInput.click()
        }
        }
    }
  </script>
  
