<script setup>
import UploadForm from '../components/UploadForm.vue'

</script>

<template>
  
  <main>
    <div class="head">
      <img alt="Coffe OSM" class="logo" src="@/assets/coffe-osm-logo.png" width="125" height="125" />
      <h2>Upload a receipt to check if the place is on OSM</h2>
      <a href="https://gitlab.com/netvandal/coffeosm">Source code</a>

    </div>
    <div>
      <UploadForm></UploadForm>
    </div>
  </main>
</template>

<style scoped>
.logo {
  margin-top:10px;
  margin-right:30px;
  float:left;
 }

 .head {
  width:100%;
  height: 125px;
 }

</style>